
{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="container">


        <form action="{{ path('login') }}" method="post" class="login-form">
            <div class="row">
                <div class="col-sm-6 offset-3 form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 offset-3 form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="_password" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 offset-3">
                    {% if error %}
                        <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <button class="col-sm-12 btn btn-info" type="submit" style="margin-top: 15px">login</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
